.request-card h3 {
  color: #002564;
  font-size: 30px;
}
.request-card p {
  color: #8692a6;
  font-size: 16px;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-content {
  width: 100%;
  display: flex;
}
.card-head > input {
  width: 269px;
  height: 50px;
  border: 1px solid #8692a6;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
}
.card-head > input::placeholder {
  font-size: 18px;
  color: #8692a6;
}

.text-area > textarea{
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 6px;
  width: 864px;
  height: 134px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #8692a6;
}

.text-area > textarea::placeholder{
  color: #9FA2B4;
}

.file-input {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 6px;
  width: 864px;
  height: 50px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #8692a6;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  position: absolute;
  right: 0;
  display: inline-block;
  cursor: pointer;
  background: #9fa2b4;
  color: #fff;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 8px;
}

.file-input > .label {
  color: #8692a6;
}
.card-content {
  display: flex;
}
.card-content > .left > button {
  width: 250px;
  height: 50px;
  margin-top: 40px;

  background: linear-gradient(103.92deg, #002564 1.19%, #528dc2 100%);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
.card-content > .line {
  width: 2px;
  height: 500px;
  background-color: red;
}

.card-content > .left > div > label {
  color: #002564;
  font-size: 16px;
}
.right {
  width: 100%;
  margin-left: 2%;
}
.right .right-text {
  cursor: pointer;
  color: #002564;
}
