.view-more {
  display: flex;

  justify-content: flex-end;
  margin-right: 10%;
}

.report-status {
  background-color: #bf7bb5;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
tr {
  border-bottom: 1px solid #dfe0eb;
}

.submitted {
  background-color: #bf7bb5;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.approved {
  background-color: #ef9011;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.captured {
  background-color: #ef9011;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.verified {
  background-color: #528DC2;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.rejected {
  background-color: #e61c23;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  height: 30px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
