.create-stockerbroker-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.note {
  padding-left: 270px;
  position: absolute;
  margin: 60px 20px 90px 170px;
}

.create-stockerbroker-card {
  margin: auto;

  background-color: #ffffff;
  min-width: 360px;
  width: 60vw;
  height: 78vh;
  border-radius: 5px;
}
.create-stockerbroker-input {
  width: 100%;
}

.create-stockerbroker-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.create-stockerbroker-btn {
  width: 35%;
}

.create-stockerbroker-header {
  width: 50%;
  margin-top: 19px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.create-stockerbroker-header h5 {
  margin-top: 30px;
  font-size: 30px;
  color: #002564;
}
