.edit-request-header {
  margin: auto;
  text-align: center;
}
.requirements {
  margin-left: 5%;
  margin-bottom: 5px;
  width: 90%;
  border-bottom: 1px solid #dfe0eb;
}

.line {
  border-bottom: 1px solid #dfe0eb;
  background-color: 1px solid #dfe0eb;
  width: 90%;
}
