.companycard_name {
  color: #002564;
}

@media (min-width: 700px) {
  img {
    max-width: 100%;
  }

  .companycard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em;
  }

  .companycard_logo {
    max-width: 300px;
  }

  .modal_divider {
    border: 1px solid gray;
    width: 100%;
  }

  .companycard_name {
    font-size: 2em;
    text-align: right;
    margin: 0em;
  }
}
