@media (min-width: 700px) {
  .numbercard {
    background-color: red;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    height: 130px;
    width: 200px;
  }

  .numbercard_text {
    font-size: 1.2em;
  }

  .numbercard_number {
    text-align: right;
    font-size: 2em;
    font-weight: 800;
  }
}
