@media (min-width: 700px) {
  .numbercard2 {
    background-color: red;
    color: #fff;
    border-radius: 0.5em;
    height: 130px;
    width: 240px;
    display: flex;
    padding:20px;
    justify-content: space-between;
  }

  .numbercard_text2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
  }
}
img {
  width:10%;
  margin-right: 5px;
  justify-content: flex-end;
}
.number-card-label{
  display: flex;
  margin-top:30px;
  margin-bottom: 10px;
}
.number-card-label p{
  margin-top: 10px;
  padding-top:10px;
  font-size: 24px;
}