.create-password-success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.create-password-success-card {
  margin: auto;

  background-color: #ffffff;
  min-width: 360px;
  width: 40vw;
  height: 60vh;
  border-radius: 5px;
}
.header-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-logos img {
  width: 60%;
  margin: 30px auto 20px auto;
}
.create-password-success-card h3 {
  font-size: 16px;
  font-weight: 700;
  color: #002564;
  text-align: center;
}

.create-password-form-success > Button {
  margin-top: -8px;
}

.header-logos p {
  color: #002564;
  font-weight: 300;
  font-size: 18px;
}

.create-password-btn-success {
  margin-top: 30px;
}
.create-password-form-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.iconss {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: -60px;
  size: 900px;
  color: #9fa2b4;
}
.iconss > .stars {
  width: 350px;
  color: #9fa2b4;
}
.iconss > .keys {
  width: 130px;
  color: #9fa2b4;
}

.create-password-success-card > p {
  text-align: center;
  color: #2b2b2b;
  font-size: 20px;
  padding-top: 20px;
}
