.secretary_dashboard {
  background: #e5e5e5;
}

.dashboard_section {
  width: 100%;
}
.dashboard_view2 {
  background: #fff;
  padding: 1em 1.5em;
  margin: 1.5em 0;
  border-radius: 0.5em;
  min-height: 700px;
  height: auto;
}
.nav_bar {
  /* display: none; */
  background: #002564;
}

.nav_item:hover {
  opacity: 0.6;
}
.nav_item_icon {
  max-width: 25px;
  width: 100%;
  margin-right: 1.5em;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_items > p {
  width: 100%;
  text-align: left;
  margin-top:20px;
}

.nav_bar_section_two {
  position: absolute;
  bottom: 0;
}
/* .dashboard_requests_header {
  margin-top: -2px;
} */
.dashboard_requests_header2 > h3 {
  margin-top: -40px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

.dashboard_requests_header22 > h3 {
  /* margin-top: -40px; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

.dashboard_requests_header3 > h3 {
  margin-top: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

.make-payment {
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
}

.make-payment > select {
  margin-right: 20px;
  /* width: 1000000px */
}

.payment-method-btn {
  /* margin-top: 20px; */
  width: 300px;
}

.dashboard_head2 {
  width: 1040px;
  margin-top: 10px;
}
.header-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard_head2 > nav {
  display: flex;
  align-items: center;
  gap: 18px;
}
.dashboard_head2 > nav > h1 {
  font-size: 30px;
  font-weight: 400;
}
.dashboard_head2 > nav > div > h3 {
  font-weight: 400;
  font-size: 24px;
}
.dashboard_head2 > nav > div > p {
  font-size: 18px;
  color: #528dc2;
}
.dashboard_head2 .header-div > button {
  background-color: #ef9011;
  color: #fff;
  border-radius: 20px;
  width: 208px;
  height: 26px;
  font-size: 14px;
}
.shareholder-flex {
  display: flex;
  gap: 90px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DFE0EB
}
.shareholder-flex > div {
  width: 588px;
  height: 167px;
  border: 1px solid #528dc2;
  border-radius: 5px;
  background: rgba(117, 117, 158, 0.15);
}
.shareholder-flex > div > table {
  margin-top: 20px;
  margin-left: 20px;
}
.shareholder-flex > div > table > tr > td:nth-child(1) {
  width: 300px;
  height: 30px;
}
.upload-flex {
  display: flex;
  gap: 105px;
}
.upload-flex > div {
  width: 588px;
  height: 361px;
  border: 1px solid #528dc2;
  border-radius: 5px;
  background: rgba(117, 117, 158, 0.15);
  padding: 20px;
}
@media (min-width: 700px) {
  .secretary_dashboard {
    display: flex;
  }

  .nav_bar {
    display: block;
    width: 20%;
    height: 100vh;
  }

  .cardinal_logo {
    padding: 1em 2em;
  }

  .dashboard_section {
    width: 100%;
    padding-right: 1.5em;
    padding-top: 1.5em;
    margin-left: 1.5em;
    height: 100vh;
    overflow-y: scroll;
  }

  .dashboard_view {
    background: #fff;
  }

  .dashboard_header2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .dashboard_header22 {
    margin-top: 20px;
    margin-bottom: 80px;
    /* margin-right: 20px; */
    display: flex;
    justify-content: space-between;
    width: 750px;
  }

  .dashboard_requests_cards {
    display: flex;
    justify-content: space-between;
  }

  .request_cards_shrink {
    max-width: 650px;
  }

  .requests_utilities {
    display: flex;
  }

  .price_update {
    border: 1px solid black;
    border-radius: 0.5em;
    width: 1080px;
    margin-top: 1.5em;
    margin-top: 1.5em;
  }
  .dash_items {
    margin-top: 1.5em;

    display: flex;
    width: 1080px;
    justify-content: space-between;
  }

  .top_gainers_losers {
    /* display: flex; */
    margin-top: -2em;
    margin-bottom: 20em;
    margin-right: 1.5em;
    /* max-width: 48000px; */
    width: 120%;
    justify-content: space-between;
  }

  .chart_dash {
    /* display: flex;
    margin-top: -540px;
    margin-bottom: 20em;
    margin-right: 1.5em;
    /* max-width: 48000px;
    width: 120%;
    justify-content: space-between; */
  }
}
