.newscard {
   display: flex;
margin: 1em auto;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.newscard_text {
   margin-left: 1.5em;
}
.newscard_text h4 {
   font-size: 0.9rem;
   font-weight: 600;
}
.newscard_text h4,
.newscard_text p {
   margin: 0;

}
