.priceupdate {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  /* overflow: scroll; */
  position: relative;
  /* margin-top: 2rem;
  margin-bottom: 4rem; */
  /* border: 1px solid black; */
  /* height: 3rem; */
  /* width: 100%; */
}

.pricecard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0.5em;
}

.pricecard + .pricecard {
  border-left: 1px solid #424141;
}

.priceupdate_header {
  background: #528dc2;
  color: #fff;
  padding: 0.5em;
}

.priceupdate_header h3 {
  margin: 0;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
}
.marqueeDiv {
  display: inline-block;
  width: fit-content;
  animation: marquee 700s linear infinite;
  display: flex;
}

.marqueeDiv:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
