.create-user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.notes {
  position: absolute;
  margin: 60px 5000px 90000px 300px;
}
.create-user-card {
  margin: auto;

  background-color: #ffffff;
  min-width: 360px;
  width: 50vw;
  height: 70vh;
  border-radius: 5px;
}
.create-user-input {
  width: 100%;
}
.create-user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.create-user-btn {
  width: 40%;
}

.create-user-header {
  width: 50%;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.create-user-header h5 {
  margin-top: 30px;
  font-size: 30px;
  color: #002564;
}

.accountzz {
  margin-top: 10px;
}
