.change-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.change-password-card {
  margin: auto;

  background-color: #ffffff;
  min-width: 360px;
  width: 40vw;
  height: 80vh;
  border-radius: 5px;
}
.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-logo img {
  width: 60%;
  margin: 60px auto 20px auto;
}
.change-password-card h3 {
  font-size: 16px;
  font-weight: 700;
  color: #002564;
  text-align: center;
}

.header-logo p {
  color: #002564;
  font-weight: 300;
  font-size: 18px;
}

.change-password-btn {
  margin-top: 30px;
}
.change-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: -20px;
}
.icons > .star {
  width: 180px;
}

.change-password-card > p {
  text-align: center;
  color: #002564;
  font-size: 30px;
}

.change-password-card .secondP {
  text-align: center;
  color: #002564;
  font-size: 20px;
  font-weight: 300;
}

.passwordwww {
  text-align: center;
  margin-top: 10px;
  /* margin-bottom: 900px; */
}
